#page
{
    width: 100%;
    display: inline-block;
    margin-bottom: 1%;
    padding: 0%;
}

#corps
{      
    text-align: left; 
    height:100%;    
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%; 
    margin-bottom: 10%;
}

#list_comments
{

    margin-top: 1%; 
    font-family: verdana;
    margin-bottom: 2%;
    /*border: solid 2px grey;*/
   
}
td
{

}
#nom_Livre
{
    width: 200px;
    margin-right: 0%;

}
#comment_value
{
    
    padding-left: 5%;
    padding-right: 5%;
    font-size: 18px;

}
#prix_Livre
{
    width: 50px;
    text-align: center;
    font-size: 30px;
    color: #ff9933;    
}

#b_add
{
    width: 50px;
}


@font-face {
    font-family: 'AUdimat-BoldItalic';
    src: url('polices/AUdimat-BoldItalic.otf');
}

@font-face {
    font-family: 'AUdimat-Regular';
    src: url('polices/AUdimat-Regular.otf');
}
