.formulaire
{      
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

#titre
{
    font-size: 90px;
    color: #9A2EFE;
    text-shadow: 10px #FF8000;
    margin-top: 1%;
}

#errormsg
{
    color: red;
}

.formulaire #t1
{
    margin-bottom: 10px;
    text-align: left; 
    width: 100%;
}

.formulaire #t1 td
{
    padding-left: 5%; 
    padding-bottom: 2%;
}

.formulaire #t2
{
    margin-top:  10px;
    margin-bottom: 10px;
    text-align: left; 
}

#link
{
    border-bottom: solid 1px;
}

#login
{
    text-align: center;
    font-size: 18px;
    color: black;
}

#login:hover
{
    text-align: center;
    color: #FF8901;
}

#container_btn_log
{
    width: 100%;
    text-align: center;
    margin-top: 3%;
}

#btn_log
{
    background-color: #F2F2F2;
    border-color: #cccccc;
}

#btn_log:hover
{
    background-color: #00cccc;
    border-color: #00cccc;
    color: white;
}