/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 oct. 2015, 21:43:13
    Author     : Yoni
*/

body {
    font-size: 14px; 
    color: #666;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.popupContainer{
    position:absolute;
    width:40%;
    left:45%;
    top:80px;
    background: #FFF;
}


/* Popup Styles*/
.popupHeader {font-size:16px; text-transform: uppercase;}
.popupHeader {background:#F4F4F2; position:relative; padding:10px 20px; border-bottom:1px solid #DDD; font-weight:bold;}
.popupHeader .popup_close {position: absolute; right: 0; top:0; padding:10px 15px; background:#FF4848; cursor: pointer; color:white; font-size:16px;}
.popupBody {padding:20px; overflow: auto;}

/* Tabs*/
#popup_tabs a
{
    color: #00cccc;
    font-size: 18px;
}

/* Boutons*/
.action_btns 
{
    width: 70%; 
    margin-left: auto; 
    margin-right: auto;
    clear:both; 
    overflow: hidden; 
    text-align: center;
}
.action_btns a 
{
    display: block;
}

.btn 
{
    padding:10px 20px; 
    background: #F4F4F2;
}
.btn:hover 
{
    background: #E4E4E2;
}

.one_half 
{
    display: block; 
    float:left; 
    width: 50%;
}
.one_half.last 
{
    width: 50%;
}

/* User Login Form */
.user_login 
{
    display: none;
}

/* User Register Form */
.user_register 
{
    display: none;
}

.user_register .checkbox 
{
    margin-bottom: 10px; 
    clear: both; 
    overflow: auto;
}