/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 oct. 2015, 00:00:53
    Author     : Yoni
*/
body h1
{
    text-align: center;   
    margin-top: 5%;
}

.mainDiv
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    width: 55%;
}

#list_comments *
{
    font-size: 18px;
    border-radius: 12px;
   /* border: solid 1px;*/
}

.date_review, .titre_review
{
    width: auto;
}

#img_review
{
    padding: 1%;
}
.desc_review
{
    padding: 1%;
    padding-left: 2%;
}

#list_comments .review
{
    border-bottom: solid grey 1px;
    padding: 2%;
}

#input_commentaire
{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#input_commentaire #commentaire_value
{
    height: fit-content;
    resize: none;
}