#mydiv1{
    margin-top: 5%;  
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

table, td, tr
{
    width: 45%;
    margin-top: 1%; 
    font-family: verdana;
    margin-bottom: 2%;
}

.lst_prod
{
    margin-top: 5%;
}
.prod 
{    
    margin-top: 2%;
    margin-bottom: 2%;
}

td
{
    width: 90px;
    margin-right: 0%;
}

.info_livre ,.info_user
{
    font-size: 20px;
}

#nom_Livre
{
    width: 150%;
    padding-top: 2%;
}

#prix_Livre
{    
 
}

.total
{ 
    text-align: right;
    font-size: 30px;
    margin-left: auto;
    margin-right: 0%;

}

#total
{
    text-align: right;
    font-size: 30px;
    color: red;    
}

li{
    list-style-type: none;
}


#qty
{
    font-size: 20px; 
    text-align: right;
    margin-left: auto;
    margin-right: 0%;
}

.cart_btn
{
    margin-top: 1%;   
    margin-bottom: 1%;
    width: 100%;  
    font-size: 15px;
}

#btn_cmd
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;   
}

#btn_cmd td
{
    padding-left: 5%;
    padding-right: 5%;
}
    
.bouttons
{
    display: inline-block;
    font-size: 18px; 

}

@font-face {
    font-family: 'AUdimat-BoldItalic';
    src: url('polices/AUdimat-BoldItalic.otf');
}

@font-face {
    font-family: 'AUdimat-Regular';
    src: url('polices/AUdimat-Regular.otf');
}
